# Create a Python list containing the names of five countries. Perform the following operations:

In [3]:
countries = ["USA", "Canada", "Mexico", "Brazil", "Argentina"]
print(countries)

['USA', 'Canada', 'Mexico', 'Brazil', 'Argentina']

# a. Add two more countries to the list.

In [4]:
countries.append("India")
countries.append("Pakistan")
print(countries)

['USA', 'Canada', 'Mexico', 'Brazil', 'Argentina', 'India', 'Pakistan']

# b. Print the third country in the list.

In [5]:
print(countries[2])

Mexico

# c. Sort the list in alphabetical order.

In [6]:
print(countries.sort())

None

In [7]:
countries.sort()
print(countries)

['Argentina', 'Brazil', 'Canada', 'India', 'Mexico', 'Pakistan', 'USA']

# d. Check if a country "India" is present in the list.

In [8]:
if "India" in countries:
    print("India is present")
else:
    print("India is not present")

India is present

# Create a tuple with five elements, each representing the price of a product. Perform the following operations:

In [9]:
tuple= (123,234,500,700,5000)
print(tuple)

(123, 234, 500, 700, 5000)

# a. Find the maximum and minimum price from the tuple.

In [10]:
print(tuple.min())

AttributeError: 'tuple' object has no attribute 'min'

In [11]:
print(tuple.minimum)

AttributeError: 'tuple' object has no attribute 'minimum'

In [12]:
print(max(tuple))
print(min(tuple))

5000
123

# b. Calculate the total cost of all products.

In [13]:
print(sum(tuple))

6557

In [14]:
prices_list = list(prices)
print(price_list)

NameError: name 'prices' is not defined

# c. Convert the tuple to a list and add a new product with its price.

In [15]:
prices_list = list(tuple)
print(prices_list)

[123, 234, 500, 700, 5000]

In [16]:
newprice=10,000
print(prices_list.append(newprice))

None

In [17]:
newprice=10,000
print(tuple.append(newprice))

AttributeError: 'tuple' object has no attribute 'append'

In [18]:
prices_list = list(tuple)
print(prices_list)

[123, 234, 500, 700, 5000]

In [20]:
newprice=10000
prices_list.append(newprice)
print(prices_list)

[123, 234, 500, 700, 5000, 10000, 10000]

# d. Calculate the average price of the products.

In [21]:
print(avg(prices_list))

NameError: name 'avg' is not defined

In [22]:
average= sum(prices_list/len(prices_list)
             print(average)

SyntaxError: '(' was never closed (4182108303.py, line 1)

In [23]:
average= sum(prices_list) / len(prices_list)
print(average)

3793.8571428571427

# Experiment 2: Dictionaries Create a dictionary that represents the population of five cities. Perform the following operations:

In [24]:
dict= {"Delhi":20000,"Odisha": 30000,"Mumbai": 50000,"Kerla":80000,"Jammu": 2000}
print(dict)

{'Delhi': 20000, 'Odisha': 30000, 'Mumbai': 50000, 'Kerla': 80000, 'Jammu': 2000}

# a. Add two more cities and their populations to the dictionary.

In [25]:
dict["West Bengal"]=1000
dict["Goa"]=5000
print(dict)

{'Delhi': 20000, 'Odisha': 30000, 'Mumbai': 50000, 'Kerla': 80000, 'Jammu': 2000, 'West Bengal': 1000, 'Goa': 5000}

# b. Find the city with the highest population.

In [26]:
max_population_country = max(dict, key=dict.get)
print(f"The country with the maximum population is {max_population_country} with a population of {dict[max_population_country]}.")

The country with the maximum population is Kerla with a population of 80000.

# c. Check if a city "London" is present in the dictionary.

In [27]:
city_tocheck="London"
is_present = city_tocheck in dict

if is_present:
    print(f"{city_tocheck} is present")
else:
    print(f"{city_tocheck} is not prsent")

London is not prsent

# d. Remove a city and its population from the dictionary.

In [28]:
remove_item="Goa"
del dict[remove_item]
print("updated dict after removing Goa" , dict)

updated dict after removing Goa {'Delhi': 20000, 'Odisha': 30000, 'Mumbai': 50000, 'Kerla': 80000, 'Jammu': 2000, 'West Bengal': 1000}